[Desktop Entry]
Version=1.0.3
Type=Application

Name=Gnoll
Comment=Versatile dice roller using cryptographically-secure randomness.
Categories=Game;RolePlaying;

Icon=io.cognusion.gnoll
Exec=gnoll
Terminal=false
